* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: poppins;
	src: url("../fonts/Poppins-Regular.eot");
	src: url("../fonts/Poppins-Regulard41d.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.php") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype")
}

@font-face {
	font-family: Poppins-Light;
	src: url("../fonts/Poppins-Light.eot");
	src: url("../fonts/Poppins-Lightd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Light.php") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff"), url("../fonts/Poppins-Light.ttf") format("truetype")
}

@font-face {
	font-family: Poppins-Medium;
	src: url("../fonts/Poppins-Medium.eot");
	src: url("../fonts/Poppins-Mediumd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Medium.php") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("truetype")
}

@font-face {
	font-family: Poppins-Bold;
	src: url("../fonts/Poppins-Bold.eot");
	src: url("../fonts/Poppins-Boldd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Bold.php") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.ttf") format("truetype")
}

@font-face {
	font-family: Poppins-SemiBold;
	src: url("../fonts/Poppins-SemiBold.eot");
	src: url("../fonts/Poppins-SemiBoldd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-SemiBold.php") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.ttf") format("truetype")
}

@font-face {
	font-family: IBMPlexSerif;
	src: url("../fonts/IBMPlexSerif-Regular.eot");
	src: url("../fonts/IBMPlexSerif-Regulard41d.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexSerif-Regular.php") format("woff2"), url("../fonts/IBMPlexSerif-Regular.woff") format("woff"), url("../fonts/IBMPlexSerif-Regular.ttf") format("truetype")
}

@font-face {
	font-family: IBMPlexSerif-Medium;
	src: url("../fonts/IBMPlexSerif-Medium.eot");
	src: url("../fonts/IBMPlexSerif-Mediumd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexSerif-Medium.php") format("woff2"), url("../fonts/IBMPlexSerif-Medium.woff") format("woff"), url("../fonts/IBMPlexSerif-Medium.ttf") format("truetype")
}

body,
html {
	height: 100%;
	font-family: Poppins-Medium;
	font-size: 16px;
	
}
body{
	overflow-x: hidden;
}

.font-poppins {
	font-family: poppins !important;
}

.font-poppins-light {
	font-family: Poppins-Light !important;
}

.font-poppins-medium {
	font-family: Poppins-Medium !important;
}

.font-poppins-bold {
	font-family: Poppins-Bold !important;
}

.font-poppins-semibold {
	font-family: Poppins-SemiBold !important;
}

.font-ibmserif {
	font-family: IBMPlexSerif !important;
}
.font-ibmmedium {
	font-family: IBMPlexSerif-Medium !important;
}

p {
	font-family: IBMPlexSerif !important;
	font-size: 16px;
	color:#333333;
}

h1,
h2,
h3,
h4,
h5,
h6{
	color:black;
}
h1,
h2,
h3,
h4,
h5,
h6,
.btn, .btnModify, .btnModify1 {
    font-family: Poppins-SemiBold !important;
}
.linHight li{
line-height: 30px
}
.btnModify, .btnModify1{
	background-color: #587fff
}

.btn {
	background: #2f5bea;
	outline: none !important;
}
.btn:hover,.btncontactnumber:hover,.btnModify, .btnModify1:hover{
	background: #3a68fa;
	outline: none !important;
}


.blue-bg {
	background: #2f5bea !important;
}
.white-bg {
	background: #ffffff !important;
}

.white {
	color: #ffffff !important;
}
.black {
	color: #000000 !important;
}

.color333 {
    color:#333333 !important;
}
.color151515 {
    color:#151515 !important;
}
.color707070 {
    color:#707070 !important;
}

.blue {
	color: #2f5bea !important;
}
.lh20{line-height: 20px;}
.lh24{line-height: 24px;}
.lh30{line-height: 30px;}
.lh40{line-height: 40px;}
.lh44{line-height: 44px;}
.f14 {
	font-size: 14px;
}

.f16 {
	font-size: 16px;
}

.f18 {
	font-size: 18px !important;
}

.f20 {
	font-size: 20px;
}
.f22 {
	font-size: 22px;
}
.f24{
	font-size: 24px;
}
.f34{
	font-size: 34px;
}

.mnone{margin:0 !important;}
.pnone{padding:0 !important;}
.mtnone {
	margin-top: 0;
}

.mt10 {
	margin-top: 10px;
}

.mt20 {
	margin-top: 20px;
}
.mb20 {
	margin-bottom: 20px;
}

.mt30 {
	margin-top: 30px;
}

.mt40 {
	margin-top: 40px;
}

.mt50 {
	margin-top: 50px;
}

.mt60 {
	margin-top: 60px;
}
.mtb10{margin:10px 0;}
.mtb20{margin:20px 0;}
.mtb30{margin:30px 0;}
.mtb40{margin:40px 0;}
.mtb50{margin:50px 0;}

.box-shadow{
	box-shadow:0 5px 20px 0 rgba(0, 0, 0, 0.10)
}
.pnone {
	padding: 0;
}

.p10 {
	padding: 10px;
}

.p15 {
	padding: 15px;
}

.p20 {
	padding: 20px;
}

.p40 {
	padding: 40px;
}
.pl40{padding-left:40px;}
.pr40{padding-right:40px;}
.pr100{padding-right:100px;}
.ptb50{padding:50px 0;}
.plr20{padding:0 20px;}
.plnone{padding-left: 0px;}
.pb0{padding-bottom: 0px !important;}
.ptb10 {
	padding: 10px 0;
}
.pb10{padding-bottom: 10px;}
.pb60{padding-bottom: 60px;}
.pt0{padding-top:0 !important;}
.ptb20 {
	padding: 20px 0;
}
.pb20 {
	padding-bottom: 20px;
}

.ptb30 {
	padding: 30px 0;
}

.ptb40 {
	padding: 40px 0;
}

.ptb50 {
	padding: 50px 0;
}
.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl25{padding-left:25px;}
.plr15{padding:0 15px;}
.pl60{padding-left:60px;}

.mh400{max-height: 400px;overflow: hidden;}
.bgimg {
	background-image: url(../Images/masterBanner.png);
	height: 100%;
	width: 100%;
	display: table;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 85px;
}

.bgimg2 {
	background-image: url(../Images/masterBanner.png);
	height: 100%;
	width: 100%;
	display: table;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 85px;
}

.know-more-box{
	background: #dae3ff;
}
.know-more-box .btn{position: relative;padding:15px;width:180px;padding-right: 50px;}
.know-more-box .btn svg {
    top: 12px;
    right: 35px;
}
.know-more-box .btn:hover svg{
	right:25px;
}
ul.college-vidya-helps {
    display: flex;
}
ul.college-vidya-helps li{margin-right:10px;max-width: 200px;border: 1px solid #B9C1D9;border-radius: 6px;}
.college-vidya-helps div{
	padding: 50px;
	background: #eaefff;
	max-height: 170px;
}
.college-vidya-helps div img{
	height:60px;
}
.college-vidya-helps li:last-child{
	background: #eaefff;
}
.college-vidya-helps li:last-child p{
	background: #eaefff;
	font-family: Poppins-SemiBold !important;
font-size: 26px;
color: #000000;
line-height: 32px;
text-align: left;
padding:70px 10px;
}
.college-vidya-helps h4{
	line-height: inherit;
	padding:10px;
}
.college-vidya-helps li p{padding:0 10px;}
.college-vidya-helps p{
	font-size: 16px;
color: #151515;
line-height: 24px;
}
a.menu-single-link {
    color: #fff;
}
.navbar {
	padding: 50px 100px;
	position: absolute;
	right: 0;
	left: 0;
	z-index: 1030;
}

.video-icon{margin-left:30px;}
.video-icon-btn {
    height: 30px;
    position: relative;
    bottom: 2px;
    left: 5px;
}


.banner-text {
	display: table-cell;
	vertical-align: middle;
	padding-top:150px;
}

.banner-text h1 {
	font-size: 80px;
	color: #FFFDFD;
	line-height: 80px;
}

.banner-text p {
	font-family: IBMPlexSerif-Medium;
	font-size: 20px;
	line-height: 30px;
}

.banner-text button {
	border-radius: 50px;
    height: 46px;
	color: #ffffff;
}

.banner-text1 {
	display: table-cell;
	vertical-align: middle;
	padding-top:150px;
}

.banner-text1 h1 {
	font-size: 80px;
	color: #FFFDFD;
	line-height: 80px;
}

.banner-text1 p {
	font-family: IBMPlexSerif-Medium;
	font-size: 20px;
	line-height: 30px;
}

.banner-text1 button {
	border-radius: 50px;
    height: 70px;
	color: #ffffff;
}



.button_container {
	position: relative;
	float: right;
	height: 27px;
	width: 50px;
	cursor: pointer;
	z-index: 100;
	transition: opacity .25s ease;
	margin: 3px 0 0 30px;
}

.button_container:hover {
	opacity: .7;
}

.button_container.active .top {
	transform: translateY(11px) translateX(0) rotate(45deg);
	background: #FFF;
}

.button_container.active .middle {
	opacity: 0;
	background: #FFF;
}

.button_container.active .bottom {
	transform: translateY(-11px) translateX(0) rotate(-45deg);
	background: #FFF;
}

.button_container span {
	border: none;
	background: #F8F8F8;
	height: 4px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .35s ease;
	cursor: pointer;
}

.button_container span:nth-of-type(2) {
	top: 11px;
}

.button_container span:nth-of-type(3) {
	top: 22px;
}

.overlay {
	position: fixed;
	background: #000000;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	transition: opacity .35s, visibility .35s, height .35s;
	overflow: hidden;
}

.overlay.open {
	opacity: .9;
	visibility: visible;
	height: 100%;
}

.overlay.open li {
	animation: fadeInRight .5s ease forwards;
	animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
	animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
	animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
	animation-delay: .50s;
}

.overlay nav {
	position: relative;
	height: 70%;
	top: 50%;
	transform: translateY(-50%);
	font-size: 50px;
	font-family: 'Varela Round', serif;
	font-weight: 400;
	text-align: center;
	
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	height: 100%;
}

.overlay ul li {
	display: block;
	height: 25%;
	height: calc(100% / 4);
	min-height: 50px;
	position: relative;
	opacity: 0;
}

.overlay ul li a {
	display: block;
	position: relative;
	color: #FFF;
	text-decoration: none;
	overflow: hidden;
}

.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
	width: 100%;
}

.overlay ul li a:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0%;
	transform: translateX(-50%);
	height: 3px;
	background: #FFF;
	transition: .35s;
}

@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		left: 20%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}


@keyframes fadeInRight {
	0% {
		opacity: 0;
		left: 20%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}


/*========== Silent Features ==============*/

.silent-features h3 {
	font-size: 34px;
}
/* .feature-box img{
    background: #F3F6FF;
    padding: 10px;
    border-radius:50%;
    width:150px;
    height:150px;
    margin-bottom:20px;
} */
.feature-box img {
	background: #F3F6FF;
	padding: 40px;
	width: 150px;
	height: 150px;
	margin-bottom: 20px;
}

/*========== Silent Features ==============*/

.universities-partners {
	/* background: #fafafa; */
	padding: 40px 0;
	margin: 50px 0;
}

.universities-partners h3{
	font-family: Poppins-Medium;
font-size: 28px;
color: #7E8085;
}
.universities-partners .text-center {
	max-width: 1170px;
	margin: 0px auto;
}

.universities-partners table{width:100%;}
.universities-partners table td {
	padding:0 25px;
}

.universities-partners img {
	display: inline-block;
}

.up-text {
	color: #7E8085;
	padding-top: 30px;
}
.load-more{
	font-size: 18px;
	color: #B1B1B1;
	text-decoration: none !important;
	background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
	-webkit-transition: all .5s linear;
	-o-transition: all .5s linear;
	transition: all .5s linear;
	background-position: left bottom;
}
.load-more:hover{
	color: #666666;
    background-size: 100% .1em;
}

.more-feature-block,.more-course-block{display: none;}
.col-vid-adv h3 {
    color: #fff;
    padding: 0px 0 20px 50px;
}
.col-vid-adv ul{padding:0 0 0px 30px;float: left;margin:0;}
.col-vid-adv li {
    background: url(../Images/icon-bullets-white.svg);
    background-repeat: no-repeat;
	margin-left:20px;
}
  .col-vid-adv p{
	padding-left:40px;
	padding-right:15px;
	line-height: 20px;
	font-size: 18px;
	color: rgba(255,255,255,0.6);
}
.col-vid-adv li{
	list-style: none;
	font-size: 18px;
	color: #858383;
	letter-spacing: 0;
	line-height: 44px;
	float: left;
	width:100%;
}
.col-vid-adv .btn{
	font-size: 16px;
    color: #2F5BEA;
    background: #fff;
    margin-left: 20px;
	margin-top: 20px;
	padding:15px 30px;
}
/* .col-vid-adv img{
	position: absolute;
    right: -55px;
    z-index: 99;
    background-color: #fff;
    top: 50px;
} */
/*==============mentor=========================*/

.mentor h3 {
	font-size: 34px;
	color: #2C2E30;
}
.mentor .blue-bullet-list li{
	font-family: IBMPlexSerif;
font-size: 18px;
color: rgba(51,51,51,0.8);
line-height: 34px;
}
.mentor .pl20{
	max-height: 320px;
	overflow: hidden;
}
/*==============mentor=========================*/


/*===================why Education On Calls ==============*/
.whycollege-bgimg {
	background: #2f5bea;
	height: 100%;
	width: 100%;
	display: table;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 170px 0 40px 0px;
}
.whycollege-bgimg h2{
	font-family: Poppins;
font-size: 50px;
color: #FFFDFD;
line-height: 95px;

}

.not-only-go-for-distance-learning .fa{
	font-size: 40px;
	color: #FFB967 !important;
	text-align: center;
}
.not-only-go-for-distance-learning h2{
	opacity: 0.92;
	font-family: Poppins;
	font-size: 60px;
	color: #1A3FB6;
	letter-spacing: 0;
	text-align: center;
	line-height: 70px;
}
.right-click-list li{
	background: url(../Images/icon-bullets.svg);
    background-repeat: no-repeat;
    padding-left: 30px;
}
.distance-education{
	background: #F9F9F9;
}
.distance-right h3 {
    padding: 25px;
    margin: 0;
}
.distance-education hr{
	background: rgba(255,255,255,0.2);
    height: 1px;
    border: 0;
    margin: 0;
}
.distance-education h4{
	opacity: 0.7;
font-family: Poppins-SemiBold;
font-size: 20px;
color: rgba(255,255,255,0.7);
line-height: 30px;
}
.all-are-inclusive {
    background: rgba(255,255,255,0.1);
    margin: 50px 0 20px 20px;
    display: inline-block;
    font-family: Poppins-SemiBold;
    font-size: 20px;
    line-height: 30px;
    border-radius: 4px;
    color: rgba(255,255,255,0.7);
}
.distance-right p{
	color: rgba(255,255,255,0.7);
}
.distance-left{margin-top:60px;}
.distance-left hr{
	background: #DFDFDF;
	margin:0;
	height: 1px;
}
.distance-left a{
	background: #F5F5F5;
border-radius: 4px;
margin:20px;
padding:15px;
text-decoration: none;
display: inline-block;
}
.all-partner {
    background: #45D265;
    border-radius: 4px;
    font-family: Poppins-SemiBold;
    font-size: 16px;
    color: #005914;
    line-height: 20px;
    max-width: 200px;
    margin-left: 20px;
    padding: 10px 50px 10px 10px;
    position:relative;
}
.all-partner span {
    position: absolute;
    background: #FFA725;
    top: -2px;
    right: -30px;
    width: 85px;
    height: 85px;
    line-height: 85px;
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #fff;
}
/*===================why Education On Calls ==============*/
.mediaButton{
	display: none;
}

#callusWhatsapp{
	right: 0;
    left: 0;
	display: none;
	position: fixed;
	bottom: 0px;
	z-index: 99;
	border: none;
  box-shadow: 0px 0px 2px 0px #3a68fa;
  outline: none;
  font-size: 20px;
	background-color: #ffffff;
	color: rgb(27, 25, 25);
	cursor: pointer;
	padding: 5px;
	}
#callusWhatsapp a{
	text-decoration: none !important;
}

#whatsapp {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 2px 0px #3a68fa;
  background-color: #3a68fa;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  height: 50px;
  width: 50px;
  }
  #whatsapp .btn-holder {
	justify-content: flex-end;
	display: flex;
  }

/*==============uc-tabs=========================*/

.tab-slider--nav {
	width: 100%;
	float: left;
	margin-bottom: 20px;
  }
  
  .tab-slider--tabs {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 500px;
    list-style: none;
    position: relative;
    border-radius: 35px;
    overflow: hidden;
    background: #fff;
    height: 60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  .tab-slider--tabs:after {
	content: "";
	width: 50%;
	background: #2F5BEA;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 250ms ease-in-out;
	border-radius: 35px;
  }
  .tab-slider--tabs.slide:after {
	left: 50%;
  }
  
  .tab-slider--trigger {
	font-size: 20px;
	width: 48%;
	line-height: 60px;
	color: #848484;
	text-align: center;
	position: relative;
	height: 60px;
	font-family: Poppins-SemiBold;
	z-index: 2;
	cursor: pointer;
	display: inline-block;
	transition: color 250ms ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}
  .tab-slider--trigger.active {
	color: #fff;
  }
  
  .tab-slider--body {
	margin-bottom: 20px;
  }

/*==============uc-tabs=========================*/


/*==============thumbnail=========================*/

.feature-universities h3 {
	font-size: 24px;
	color: #888888;
	padding-bottom: 20px;
}

.thumbnail {
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.10);
	border-radius: 6px;
	border: 0;
	padding: 0;
	margin-bottom: 30px;
}
.thumbnail .caption-head{
	border-top-left-radius:6px;
	border-top-right-radius:6px;
}
.thumbnail .caption {
	padding: 20px;
	/* text-align: center; */
	cursor: pointer
}

.thumbnail .caption p {
	padding-top: 10px;
	font-size: 14px;
	text-align: left;
	display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.thumbnail .media-body {
	color: #333333;
	line-height: 20px;
	vertical-align: middle;
	text-align: left;
	
}


.media-left img {
	max-height: 44px;
}

.learn-more {
	border-top: 1px solid #EFEFEF;
	padding: 20px 0;
}

.learn-more .btn ,.btnModify, .btnModify1{
	font-size: 14px;	
	border-radius: 4px;
	border: 0;
	padding: 10px 30px;
}
 .btnModify1{
	font-size: 35px;	
	border-radius: 4px;
	border: 0;
	padding: 10px 30px;
}


/*==============thumbnail=========================*/


/* carousel */

.testimonial {
	max-width: 1000px;
}

.testimonial h2 {
	font-size: 34px;
	color: #333333;
	
}

#quote-carousel {
	padding: 0 10px 30px 10px;
}

#quote-carousel .carousel-inner {
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.20);
	border-radius: 6px;
	margin-bottom: 30px;
}

#quote-carousel .carousel-inner h3 {
	font-size: 20px;
	color: #333333;
	margin-bottom: 0;
}

#quote-carousel .carousel-inner span {
	font-family: IBMPlexSerif-Medium;
	font-size: 14px;
	color: #2f5bea;
	display: inline-block;
	padding-bottom: 25px;
}


/* Control buttons  */

#quote-carousel .carousel-control {
	background: none;
	color: #222;
	font-size: 2.3em;
	text-shadow: none;
	margin-top: 30px;
}


/* Changes the position of the indicators */

#quote-carousel .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
}

#quote-carousel .carousel-indicators li {
	background: #D8D8D8;
	width: 16px;
	height: 16px;
	margin:0;
}

#quote-carousel .carousel-indicators li.active {
	background: #2f5bea;
}


/* Changes the color of the indicators */

#quote-carousel .carousel-indicators li {
	background: #c0c0c0;
}

#quote-carousel .carousel-indicators .active {
	background: #333333;
}

#quote-carousel img {
	width: 100%;
	height: 100%;
	max-width: 100px;
}
.testi-right-text{margin-top:5px;}

/* End carousel */

.item blockquote {
	border-left: none;
	margin: 0;
}

.item blockquote img {
	margin-bottom: 10px;
}

.item blockquote p {
	line-height: 24px;
}

#quote-carousel .testi-right-text img {
	width: 40px;
	height: 40px;
	margin-left: 15px;
}
#quote-carousel .item{padding: 0 30px 20px 0;}
h2.col-vid-adv {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 40px;
    width: 100%;
    text-align: center;
}

/*================= students block===============*/

.students-block .col-md-4 {
	background: #F3F6FF;
	border: 1px solid #E7EAEE;
	box-shadow: 0 2px 4px 0 rgba(44, 46, 48, 0.05);
	padding: 90px 0;
	border-radius: 5px;
}
.students-block .col-md-4:first-child{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.students-block .col-md-4:last-child{
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.students-block .blue-bg {
	padding: 120px 0;
	position: relative;
	top: -30px;
}

.students-block p {
	color: #7E8085;
	
	line-height: 30px;
}

.students-block h2 {
	font-size: 60px;
	color: #2f5bea;
	
}




/*============= Making up =====================*/

.making-up {
	background: #2f5bea;
}

.making-up h1 {
	font-size: 64px;	
	text-shadow: 0 2px 6px rgba(0, 0, 0, 0.13);
	margin-top: 60px;
}

.making-up h3 {
	font-size: 31px;
	line-height: 40px;
	padding-top: 30px;
	font-family: IBMPlexSerif-Medium !important;
}

.making-up .btn {
	border-radius: 6px;
	padding: 15px 30px;
    margin: 50px 0 60px 0;
    background: #ffffff;
    color: #2f5bea !important;
}


/*============= Consultation =====================*/

.consultation {
	background: rgb(47, 91, 234, 0.03);
	border-radius: 4px;
	padding-left: 30px;
	padding-right: 30px;
}

.consultation p {
	color: #000000;
	line-height: 24px;
}

.consultation h3 {
	font-size: 34px;
	color: #000000;
	line-height: 38px;
}

.consultation .btn {
	border-radius: 4px;
	max-width: 370px;
	height: 80px;
	width: 100%;
	position: relative;
	margin-right: 35px;
}
svg.icon-arrow-right {
    position: absolute;
    top: 28px;
    right: 100px;
	transition: 0.5s;	
}
.consultation .btn:hover svg.icon-arrow-right{
	right: 80px;
}
/*=======================inner page banner=========================*/
.caption-head{
	background: -moz-linear-gradient(45deg, rgba(58,124,239,1) 0%, rgba(47,234,112,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(58,124,239,1)), color-stop(100%, rgba(47,234,112,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, rgba(58,124,239,1) 0%, rgba(47,234,112,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, rgba(58,124,239,1) 0%, rgba(47,234,112,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(58,124,239,1) 0%, rgba(47,234,112,1) 100%); /* ie10+ */
background: linear-gradient(45deg, rgba(58,124,239,1) 0%, rgba(47,234,112,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fea70', endColorstr='#3a7cef',GradientType=1 ); /* ie6-9 */
text-align: center;
padding:40px 0;
}
.let-us-help h1{font-size: 40px;}
.let-us-help h2{
font-size: 50px;
color: #A9BEFF;
line-height: 64px;
text-shadow: 0 2px 6px rgba(0,0,0,0.13);
}

.let-us-help .btn {
	border-radius: 4px;
	max-width: 190px;
	height: 60px;
	width: 100%;
	position: relative;
	background:#ffffff;
	padding-right: 55px;
}
.let-us-help svg.icon-arrow-right {
    position: absolute;
    top: 17px;
    right: 40px;
	transition: 0.5s;	
}
.let-us-help .btn:hover svg.icon-arrow-right{
	right: 30px;
}

.quote-block{
	background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.11);
	border-radius: 20px;
	padding:40px;
}
.quote-block p{
	font-family: Poppins-Medium;
font-size: 16px;
text-align: center;
line-height: 24px;
}
.dot-list li {
list-style-type: none;
color: #E2E9FF;
	}
	.dot-list li .fa{float: left;position: relative;top:6px;font-size: 20px;}
	.dot-list p{padding-left:30px;
		font-family: IBMPlexSerif;
	font-size: 16px;
	color: #E2E9FF;
	line-height: 31px;
	list-style:none;
	}
	.important-course li,.important-course p{color:#000;}
	.important-course li .fa{
		color:#2F5BEA;
	}
	.benefits-block #message {
		min-height: 135px;
	}
	.benefits-block-c .form-control{height: 60px;resize: none;}
	.benefits-block .form-control{height: 60px;resize: none;}
	.benefits-block > .container > .row{display: flex;}
.mission-icon span {
    background: #2F5BEA;
border-radius: 10px;
width:70px;height:70px;
display:inline-block;margin-right:20px;
}
.blue-bullet-list li,.mission-block p{
	background: url(../Images/icon-bullets.svg) 0px 6px;
    background-repeat: no-repeat;
    padding-left: 25px;
}
.blue-bullet-list1 li,.mission-block p{
	background: url(../Images/icon-bullets.svg) 0px 0px;
    background-repeat: no-repeat;
    padding-left: 25px;
}
.mission-icon img{position:relative;bottom:40px;left:25px;}
.vission-icon span {
    background: #2F5BEA;
border-radius: 10px;
width:70px;height:70px;
display:inline-block;margin-right:60px;
position: relative;
bottom: 10px;
}
.vission-icon img {
    position: relative;
    top: 10px;
    left: 26px;
}
.mission-icon,.vission-icon{font-size: 40px;}
.bgdots{position: absolute;z-index: -1;
    left: 15px;
    top: -20px;
}
.bgdots-right{
	position: absolute;z-index: -1;
    right: 0;
    top: -20px;
}

.choose-col-vid{
		background: #F6F6F6;
		padding-bottom: 50px;
	}

	.page-banner{
		width: 100%;
		height: 100%;
		max-height: 360px;
		background-position: center !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
	}
	.page-banner h2{margin-top:0;}
	.page-banner .btn{color:#fff;}
	.page-banner .rating-block img{
		opacity: 0.9;
	background: #ffffff;
	border-radius: 4px;
	padding: 10px;
	margin-right:20px;
	}

	.banner-about{
		background: url(../Images/banner-about.jpg);
		background-size: 100% 100% !important;
	}
	.banner-contact{
		background: url(../Images/banner-contact.jpg);
		background-size: 100% 100% !important;
	}
	.banner-terms{
		background: url(../Images/banner-terms.jpg);
		background-size: 100% 100% !important;
	}
	.banner-privacy{
		background: url(../Images/banner-privacy.jpg);
		background-size: 100% 100% !important;
	}
	.banner-why-distance{
		background: url(../Images/banner-why-distance.jpg);
		background-size: 100% 100% !important;
	}
	.banner-university{
		background: url(../Images/banner-university.jpg);
		background-size: 100% 100% !important;
	}
	.banner-symbiosis{
		background: url(../Images/banner-symbiosis.jpg);
		background-size: 100% 100% !important;
	}
	.banner-imt{
		background: url(../Images/banner-imt.jpg);
		background-size: 100% 100% !important;
	}
	.banner-jagannat{
		background: url(../Images/banner-jagannat.jpg);
		background-size: 100% 100% !important;
	}
	.banner-jaipur{
		background: url(../Images/banner-jaipur.jpg);
		background-size: 100% 100% !important;
	}
	.banner-lingayas{
		background: url(../Images/banner-lingayas.jpg);
		background-size: 100% 100% !important;
	}
	.banner-amity{
		background: url(../Images/banner-amity.jpg);
		background-size: 100% 100% !important;
	}
	.banner-dypatil{
		background: url(../Images/banner-dypatil.jpg);
		background-size: 100% 100% !important;
	}
	.banner-upes{
		background: url(../Images/banner-upes.jpg);
		background-size: 100% 100% !important;
	}
	.banner-nmims{
		background: url(../Images/banner-nmims.jpg);
		background-size: 100% 100% !important;
	}
	.banner-subharti{
		background: url(../Images/banner-subharti.jpg);
		background-size: 100% 100% !important;
	}
	.banner-course{
		background: url(../Images/banner-course.jpg);
		background-size: 100% 100% !important;
	}
	.banner-bca{
		background: url(../Images/banner-bca.jpg);
		background-size: 100% 100% !important;
	}
	.banner-mca{
		background: url(../Images/banner-mca.jpg);
		background-size: 100% 100% !important;
	}
	.banner-bba{
		background: url(../Images/banner-bba.jpg);
		background-size: 100% 100% !important;
	}
	.banner-btech{
		background: url(../Images/banner-btech.jpg);
		background-size: 100% 100% !important;
	}
	.banner-bcom{
		background: url(../Images/banner-bcom.jpg);
		background-size: 100% 100% !important;
	}
	.banner-mba{
		background: url(../Images/banner-mba.jpg);
		background-size: 100% 100% !important;
	}
	.banner-international-business{
		background: url(../Images/banner-international-business.jpg);
		background-size: 100% 100% !important;
	}
	.banner-finance{
		background: url(../Images/banner-finance.jpg);
		background-size: 100% 100% !important;
	}
	.banner-marketing{
		background: url(../Images/banner-marketing.jpg);
		background-size: 100% 100% !important;
	}
	.banner-digital-marketing{
		background: url(../Images/banner-digital-marketing.jpg);
		background-size: 100% 100% !important;
	}
	.banner-supply-chain-management{
		background: url(../Images/banner-supply-chain-management.jpg);
		background-size: 100% 100% !important;
	}
	.banner-project-management{
		background: url(../Images/banner-project-management.jpg);
		background-size: 100% 100% !important;
	}
	.banner-operations{
		background: url(../Images/banner-operations.jpg);
		background-size: 100% 100% !important;
	}
	.banner-entrepreneurship{
		background: url(../Images/banner-entrepreneurship.jpg);
		background-size: 100% 100% !important;
	}
	.banner-human-resources{
		background: url(../Images/banner-human-resources.jpg);
		background-size: 100% 100% !important;
	}
	.banner-why-distance-learning{
		background: url(../Images/banner-why-distance-learning.jpg);
		background-size: 100% 100% !important;	
	}
	.banner-civil {
		background: url(../Images/banner-engineering/banner-civil.jpg);
		background-size: 100% 100% !important;
	}
	.banner-computer {
		background: url(../Images/banner-engineering/banner-computer-science.jpg);
		background-size: 100% 100% !important;
	}
	.banner-electrical {
		background: url(../Images/banner-engineering/banner-electrical.jpg);
		background-size: 100% 100% !important;
	}
	.banner-mechanical-auto {
		background: url(../Images/banner-engineering/banner-automobile.jpg);
		background-size: 100% 100% !important;
	}
	.banner-mechanical {
		background: url(../Images/banner-engineering/banner-mechanical.jpg);
		background-size: 100% 100% !important;
	}
	.banner-ignou {
		background: url(../Images/banner-ignou.jpg);
		background-size: 100% 100% !important;
	}
	

.page-banner .navbar{position: relative;}
.page-banner h2 {
    padding-top: 245px;
    font-size: 40px;
}
.courses-thumbnail span {
    color: #707070;
    text-align: left;
    font-size: 14px;
    padding: 10px 0 10px 0px;
}
.form-control.error {
	border-color: red !important;
}
.error{
	color: red;
}
label.error{font-size: 12px;font-weight:lighter;}
.courses-thumbnail .thumbnail {
 margin:15px 0;
}
.courses-thumbnail .fa {
color:#2F5BEA;
font-size: 20px;
}
.footer-disclimer{
	font-size: 10px;
	color: white;
	padding-top:15px;
	text-align: center;
}
.copyright-text .col-md-12{
padding: 0;
}

.courses-thumbnail .learn-more {
	padding: 15px 0;
	border-bottom: 1px solid #EFEFEF;
	margin: 0;
} 
nav[aria-label="breadcrumb"] {background:#f9f9f9;}
.breadcrumb{max-width:1170px;width:100%;margin:0 auto;background: transparent;font-size: 12px;padding: 15px 0;}
.breadcrumb a,.breadcrumb>.active{	
	font-size: 16px;
	color: #707070;
	}

.breadcrumb .fa{  color: #707070;
    font-size: 12px;
	padding-left: 5px;}
	.list-group .social-icons a{line-height: 27px;}
	.list-group-item{padding:23px 15px !important;}
	.list-group-item p,.list-group-item .social-icons{margin:10px 0 0 0;}





	.mba-carousal h3{padding-left:15px;margin:20px 0 0 0;}
	
.owl-dots{display: none !important;}
	.owl-carousel.owl-drag .owl-item{padding:15px;}
	.mba-carousal .owl-carousel li {
    list-style: none;
    border-bottom: 1px solid #d9d8d8;
    color: #2c2e30;
    font-size: 13px;
    padding: 10px 0;
}
.owl-carousel .item{
		-webkit-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.10);
		-moz-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.10);
		box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.10);
		border-radius: 7px;
		padding: 15px;
	}
	.mba-carousal .owl-carousel .owl-dots.disabled,.mba-carousal .owl-carousel .owl-nav.disabled {
		display: block;
	}
	
	.mba-carousal .owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled {
		display: block;
	}
	
	.mba-carousal .owl-prev,
	.mba-carousal .owl-next {
	  position: absolute;
	  top: -15px;
	  transform: translateY(-50%);
	  font-size: 30px !important;
	}
	
	.mba-carousal .owl-prev {
	right: 40px;
	}
	
	.mba-carousal .owl-next {
	  right: 15px;
	}

	.mba-carousal h3{font-size: 20px;}

	
	.owl-theme .owl-nav [class*=owl-]:hover {
		background: transparent; 
		 color: #000 !important;
		text-decoration: none;
		outline: none;
	}
	.owl-theme .owl-nav button{outline: none;}

	.faculty .owl-carousel,.faculty .owl-carousel .owl-item{
		position: initial;
	}

	.faculty .owl-prev,
	.faculty .owl-next {
	  position: absolute;
	  top: 25px;
	  transform: translateY(-50%);
	  font-size: 30px !important;
	}
	.faculty .owl-prev {
		right: 55px;
		}
		
		.faculty .owl-next {
		  right: 30px;
		}
		.faculty h3{position: absolute;padding-left:15px;}
		.faculty-desc{padding:60px 150px 0 15px;font-size: 14px;}
		.faculty .item{padding:0 !important;}
		.faculty img{max-width: 100%;    border-top-left-radius: 6px;
			border-top-right-radius: 6px;}
		.faculty .item h4{margin:20px 0 0 15px;}
		.faculty .item p{padding: 5px 0 20px 15px;font-size:14px;}


		.mba-cards {border:1px solid lightgray;border-radius: 7px;float:left;width:100%;overflow:hidden;}
		
.mba-cards li{list-style:none;float:left;padding:30px;box-shadow: -5px 0px 15px 0px rgba(0,0,0,0.10);}
.mba-cards li{width:30%;}
.mba-cards li:first-child,.mba-cards li:last-child{width:35%;}
.clear{clear: both;}
.program-feature{
	background:#f8f8fc;
}
.download-brochure {
	padding: 10px 40px;
	border-radius: 20px;
	outline: none !important;
 }

 .program-feature .fa {
	margin-top: 3px;
 }
 .program-feature .card {
  background: white;
  padding: 30px;
 }
 .program-feature .card p {
	border-left:2px solid #4562ad;
	padding-left:27px;
	position: relative;
	left: -32px;
 }
 .form-horizontal .form-group {
    margin-right: -10px;
    margin-left: -10px;
}
.dbbtn{width:256px;height: 60px;}
.course-highlights {background: #fafafa;}
.course-highlights li{line-height:34px;margin-bottom:20px;list-style:none;}
.course-highlights li p{color:#707070 !important;}
.course-highlights img {float:left;background: #E7ECFF;width:36px;
	height:36px;padding:6px;margin-right:15px;}
.benefits-block{
	background:#f4f4f4;
}
.faqs{
	background: #f7f9f9;
	border-bottom: 1px #EAEAEA solid;
}

.faqs a{text-decoration: none !important;word-break: break-word;}
.faqs .panel,.faqs .panel-default>.panel-heading+.panel-collapse>.panel-body{border:0;box-shadow: inherit;background: transparent;}
.faqs .panel{
	background: #FFFFFF;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.07);
	border-radius: 6px;
	width: 90%;
	margin: auto;
	margin-top:10px !important;
}
	.faqs .panel-default>.panel-heading+.panel-collapse>.panel-body{
		font-family: IBMPlexSerif;
		font-size: 16px;
		color: #666666;
		line-height: 22px;
		padding-top:0;
	}

	.faqs .panel-default>.panel-heading{
		background: #ffffff;
		position: relative;
		padding:0;
		border-radius: 6px;
	}
	.faqs .panel-default>.panel-heading a{padding: 20px 50px 20px 20px; display: block;
		font-family: Poppins-SemiBold;
		font-size: 16px;
		color: #666666;
		line-height: 22px;
	}

	.faqs .panel-default>.panel-heading .fa{position: absolute;
		right: 20px;
		top: 12px;
		font-size: 35px;
		color: #666666;
		-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	}

	.faqs .accordion-toggle .fa-angle-right{
		transform: rotate(90deg);
		/* Safari */
		-webkit-transform: rotate(90deg);
	  
		/* Firefox */
		-moz-transform: rotate(90deg);
	  
		/* IE */
		-ms-transform: rotate(90deg);
	  
		/* Opera */
		-o-transform: rotate(90deg);
	}
	.faqs .accordion-toggle.collapsed .fa-angle-right{
		transform: rotate(0deg);
		/* Safari */
		-webkit-transform: rotate(0deg);
	  
		/* Firefox */
		-moz-transform: rotate(0deg);
	  
		/* IE */
		-ms-transform: rotate(0deg);
	  
		/* Opera */
		-o-transform: rotate(0deg);
	}
	.course-thumbnail button {
		width:100%;
		border:0;
		background: #2f5bea;
		border-radius: 0 0 6px 6px;
		padding:15px;
		font-size: 16px;
		color: #ffffff;
		margin-top:10px;
   		border: 1px solid #ffffff;
	}
	.course-thumbnail button:hover{
		background: #3a68fa;
	}
		.course-thumbnail .caption {
			min-height: 185px;
		}
		.admission-help-btn,.admission-help-btn:hover {
			color:#fff;
		}
		.universities-details-banner .btn{
			background: #FEFF00;
			color: #000;
			border-radius: 14px;
			height: 28px;
			line-height: 28px;
			width: 146px;
			padding: 0;
		}

		.star-ctr {
			display: inline-block;
			position: relative;
			top: 20px;
			left: 20px;
		}
		
		.star-ctr ul {
			white-space: nowrap;
			list-style: none outside none;
			padding-left: 0;
			overflow: hidden;
		}
		
		.star-fg {
			top: 0;
			position: absolute;
		}
		
		.star-ctr li {
			display: inline-block;
		}
		
		.star-ctr a > span {
			font-size: 15px;
		}
		
		.star-bg a > span {
			color: silver
		}
		
		.star-fg a > span {
			color: #FEFF00;
		}
		#rating-value {
			font-size: 15px;
			color: #FEFF00;
		}
		.rating-block {
			padding: 230px 0 0 0px;
		}
		.rating-block h2{line-height: 40px;}



		.students-placed{
			background: #F9F9F9;
		}
			.students-placed ul{float:left;}
		.students-placed li{
			text-align:center;
			
			list-style: none;float: left;
		padding:10px;
}
	.students-placed li .student-box{
		box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.12);
border-radius: 6px;
max-width:150px;
background:#ffffff;
padding:15px;
	}
	.student-box p{
		padding: 5px 0;
		margin: 0;
		font-size: 12px;
		font-family: Poppins-Medium;
	}
.students-placed li .student{width:100%;max-width: 60px;}
.students-placed li .microsoft{width:100%;}

.live-sessions{border-radius: 9px; margin:30px 0;}
.live-sessions h3{
	font-family: Poppins-Medium;
font-size: 20px;
color: #FFFFFF;
line-height: 24px;
margin:0;
padding: 0;
}
#certificate .close {
    color: #fff;
    opacity: 1;
    position: relative;
    background: #2f5bea;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    right: -25px;
	top: -25px;
	outline: none;
}
/*=======================inner page banner=========================*/
.thumbnail .text-center.color707070{text-align: left;padding-left:20px;}
.star-ctr{display: none !important;}
.rating-block .btn{margin-top:10px;}
.partners {list-style:none;}
.partners li{float:left;width:20%;padding:0 10px;}
.partners li:first-child{padding-left:0;}
.partners li div{float:left;text-align:center;
background: #FFFFFF;
box-shadow: 0 5px 20px 0 rgba(0,0,0,0.10);
border-radius: 10px;
border-radius: 10px;
height:180px;
max-width:220px;
width:100%;
position:relative;
padding:10px;
}
.partners li img{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    max-height: 95px;
	width: 100%;
	max-width: 150px;
  
}
#collge-vidya-video{top:150px;}
#collge-vidya-video .close {
    color: #fff;
    opacity: 1;
    position: absolute;
    right: -15px;
    background: #2f5bea;
    width: 25px;
    height: 25px;
    top: -15px;
    outline: none;
    line-height: 25px;
    border-radius: 50%;
}

/*===================contact us =====================*/
.contactus ul{
	list-style: none;
	position: relative;
	/* z-index: 0; */
	}
.contactus h2{
	font-size: 24px;
margin:0;}
.contactus-form{
	background: #2A2A2A;
	padding:60px;
	margin-left: -30px;
	margin-top: 13px;
	max-width: 812px;
	z-index: 1;
	position: relative;
}
.contactus .form-control {
    border: 1px solid #707070;
    background:transparent;
}
.btn-cancel{
	color: #9B9B9B;
	background: #C3C3C3;
}
/*===================contact us =====================*/

/*============= footer =====================*/
footer{padding-top:50px;background: #f7f9f9;}
.footer-block{width:100%;float: left;}
.footer-block ol li{list-style: none;}
.footer-block ol li a {	
	text-decoration: none;
	background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
	-webkit-transition: all .5s linear;
	-o-transition: all .5s linear;
	transition: all .5s linear;
}

.footer-block ol li a:hover {
	background-size: 100% .1em;
}

/* Variations */
.footer-block ol li a.left {
	background-position: left bottom;
}


.footer-block ol li a:hover{color: #2f5bea;}
.footer-block > li{float:left;list-style-type: none;width:18%;padding-left:30px;}
.footer-block > li.courses{width:14%;}
.footer-block li.wow:last-child{width:22%;}
.footer-block .social-icons-footer{width:28%;}
.social-icons-footer p .fa{position:relative;top:3px;}
.footer-block h4 {
	font-size: 18px;
	color: #2C2E30;
	padding-bottom: 10px;
}
.social-icons-footer {
	font-size: 16px;
color: #54565A;
line-height: 30px;
}
.social-icons-footer img{max-width: 100px;}


.footer-block a {
	font-family: IBMPlexSerif;
	color: #54565A;
	line-height: 30px;
}

.copyright-text {
	background: #2f5bea;
	padding: 20px 0;
	margin-top:50px;
}


.copyright-text a {
	font-family: Poppins-Medium;
	font-size: 14px;
	color: #ffffff;
	padding-right: 15px;
}
.copyright-text a:last-child {
	padding-left: 15px;
}

.social-icons {
	padding-left: 0;
	list-style: none;
}

.social-icons li {
	display: inline-block;
	margin-bottom: 4px
}

.social-icons li.title {
	margin-right: 15px;
	text-transform: uppercase;
	color: #96a2b2;
	font-weight: 700;
	font-size: 13px
}

.social-icons a {
	background: #EDEDED;
	display: inline-block;
	line-height: 40px;
	width: 40px;
	height: 40px;
	text-align: center;
	margin-right: 8px;
	border-radius: 100%;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	color:#535353;
	font-size: 25px;
}

.contactus .social-icons a {
	display: inline-block;
	line-height: 43px;
	background: #C3D1FF;
	color: #2F5BEA;
	margin-top: 5px;
}


.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
	color: #fff;
	background-color: #29aafe
}

.social-icons.size-sm a {
	line-height: 34px;
	height: 34px;
	width: 34px;
	font-size: 14px
}

.social-icons a.facebook:hover {
	background-color: #3b5998
}

.social-icons a.twitter:hover {
	background-color: #00aced
}

.social-icons a.linkedin:hover {
	background-color: #007bb6
}

@media only screen and (max-width: 1230px) {
	#callusWhatsapp{
		display: none;
	}
	.contactus-form{
		margin-left: 0px;
		margin-top: 0px;
		max-width: 100%;
		width:100%;
	}
}

@media only screen and (max-width: 1024px) {
	#callusWhatsapp{
		display: none;
	}
	ul.college-vidya-helps li {
		text-align: center;
		width: 49%;
		max-width: 100%;
		float: left;
		margin: 0 1% 15px 0 !important;
	}
	.college-vidya-helps li:last-child p {
		padding: 83px 10px;
	}
	ul.college-vidya-helps{
		display: inherit;
	}
	
	.important-course{padding: 0;}
	.bgdots,.bgdots-right{display: none;}
	.pl40{padding-left:0px;}
	.pr40{padding-right:0;}
	.world-best-education .img-responsive{margin-bottom: 20px;}
	.world-best-education .pl40{padding-left:0;}
	.world-best-education .bgdots{display: none;}
	.media{height:50px;}
	.thumbnail .media-body{font-size: 14px;}
	.menu{padding-left: 5px !important;}
	.footer-block > li:first-child{padding-left:0;}
	#main-nav.transparent-header .menu-wrapper a.menu-item:after {
	
		display:none !important;
		
	}
	.copyright-text .col-md-12{
		padding: 15px;
		}
	.banner-text{
		padding-top:0px;
	}
	#main-nav.transparent-header a.menu-item:hover, .transparent-header #main-nav a.menu-item:hover{
		color:#2F5BEA !important;
	}
	.making-up br{display: none;}
	.making-up h1{font-size: 40px;}
	.making-up h3{font-size: 25px;}

	.col-vid-adv ul{padding:30px;}
	.col-vid-adv .blue-bg{float: left;}
	.col-vid-adv img{position: inherit;top:0;right:0;}
	.dbbtn{margin-bottom: 30px;}
	.col-vid-adv ul {
		padding: 20px 0;
	}
	.about-page .ptb50{padding:20px 0;}
	.mission-icon{margin-top:50px;}
	.navbar {
		padding: 15px 0;
	}
	.bgimg {
		padding: 40px 15px;
	}
	nav.navbar.main-nav {
		padding: 30px 15px;
	}
	
	body,
	html {
		height: auto;
	}
	.banner-text h1 {
		line-height: 65px;
		font-size: 65px;
		padding-top: 100px;
	}
	.thumbnail .caption {
		padding: 20px;
	}
	.copyright-text,.copyright-text .text-right{
		text-align: center;
	}
.page-banner .logo,.page-banner h2 {
    padding-left: 0px;
}
#logo img{max-width: 100%;}
.page-banner h2{font-size: 25px;}
.rating-block{padding-top:140px;margin-bottom: 25px;}
.rating-block .col-md-11{padding: 0;}
.rating-block h2{line-height: 20px;}
.consultation{text-align: center;}

}

@media only screen and (max-width: 768px) {
	#whatsapp{
		display: none;
	}
	#callusWhatsapp{
		display: block;
	}
	.vision-block{padding-left:15px !important;}
	.wdl-para{
		font-size: 12px;
	}
	.college-vidya-helps li:last-child p {
		padding: 94px 10px;
	}
	.mentor .pl60{
		padding-left:0;
		padding-top:20px;
	}
	.col-vid-adv .p40{padding:20px 0 0 0;}
	.row .know-more-box{margin-bottom:20px;}
	.not-only-go-for-distance-learning h2,.whycollege-bgimg h2{font-size: 30px;line-height: 40px;}
	.whycollege-bgimg p,.whycollege-bgimg h2{padding:20px;}
	.testimonial h2,h2,h3 {
		font-size: 18px;
	}
	.social-icons a {
margin-right:2px;
	}
	.let-us-help h2 {
		font-size: 25px;
		line-height: 30px;
	}
	.f34 {
		font-size: 26px;
	}
	.let-us-help h1 {
		font-size: 30px;
	}
	#quote-carousel .carousel-inner h3{
		font-size: 14px;
	}
	#quote-carousel .testi-right-text img{margin-left:0;}
	#quote-carousel .col-xs-6.text-right{padding:0;}
	#quote-carousel .item{padding: 0 5px 20px 0;}
	.making-up .btn {
		margin: 10px 0 30px 0;
	}
	.making-up h1 {
		font-size: 25px;
		margin-top:30px;
	}
	.making-up h3 {
		font-size: 16px;
		line-height: 24px;
		padding-top:0;
	}
	.col-vid-adv h3 {
		padding: 30px 0 0px 20px;
	}
	.footer-block > li:first-child{padding-left:30px;}
	.footer-block > li{width:100% !important;padding-left:30px;}
	.mentor h3,.consultation h3 {
		font-size: 25px;
	}
	.consultation .btn{height:50px;}
	.consultation svg.icon-arrow-right{top:12px;}
	.tab-slider--tabs {
		max-width: 92%;}

	.feature-box img{margin-top:20px;}
	.mentor img.img-responsive{width:100%;}
	.silent-features{padding:25px 0 0 0;}
	.silent-features h3{font-size: 20px;}
	.mentor h3,.mentor h4,.mentor ul{padding-left:15px;}
	.consultation .btn {
		margin-right: 0;
		max-width: 100%;
		margin-top: 30px;
	}
	.whycollege-bgimg{
		padding:0;
	}
	.col-vid-adv p{font-size: 16px;}
	.rating-block h2{margin:10px 0 !important;font-size: 16px;}
	.partners li{    width: 50%;
		margin-bottom: 20px;
		}
		.partners li:first-child{padding-left: 15px;}
		.partners li img{max-width: 100px;}
	.universities-list{width:550px;}
	.universities-list li {
		font-size: 14px;
		padding: 0 10px;
	}
	.universities-list li:nth-last-child(2){border-bottom: 1px solid #cccccc;}
	.col-vid-adv ul {
		padding: 40px 0;
	}
	.banner-text h1 {
		font-size: 70px;
	}
	.footer-links ul {
		padding-bottom: 30px;
	}
	.universities-partners table td:first-child{width:100%;}
	.universities-partners table td {
		width: 50%;
		float: left;
		display: block;
		padding-bottom: 30px
	}
	.students-block .blue-bg {
		padding: 90px 0;
		top: 0px;
	}
	.mba-cards li {
		width: 100% !important;
	}
	.contactus-form{
		padding:30px;
	}
	.consultation{padding-left:0;padding-right:0;}
	.universities-partners {
		
		margin: 10px 0;
		padding: 10px 0;
	}
	.mission-icon, .vission-icon {
		margin-top: 50px;
	}
	
	#collge-vidya-video {
		top: 10px;
		z-index: 99999999999999;
		right: 10px;
	}
	#collge-vidya-video .modal-dialog{width:100%;}
	#collge-vidya-video .close {
		right: 9px;
		top: -9px;
	}
}

@media only screen and (max-width: 540px) {
	#cartoonVideo{
		height: 300px;
	}
	ul.college-vidya-helps li{	
		text-align: center;	
		width:100%;
		max-width:100%;
		margin:0 0 15px 0 !important;
	}
	.college-vidya-helps li:last-child p {
		padding: 50px 10px;
	}
	.bgimg{background-image: url(../Images/res-home-banner.jpg);}
	.bgimg2{background-image: url(../Images/res-home-banner.jpg);padding: 0;}
	.partners li div{margin: 0 auto; float: none;}
	.universities-list{width:280px;}
	.universities-list li {
		font-size: 14px;
		padding: 0 10px;
		width:100%;
	}
	.universities-list{padding:10px;}
}

@media only screen and (max-width: 420px) {
	/* For mobile phones: */
	#cartoonVideo{
		height: 300px;
	}
	.banner-text{
		padding-top:70px;
	}
	.banner-text h1 {
		line-height: 38px;
		font-size: 35px;
		padding-top: 0px;
	}
	.navbar {
		padding: 25px 15px;
	}
	.logo {
		padding-left: 0 !important;
	}

	.privacy li a {
		padding: 0 5px;
	}
	.logo img {
		max-width: 70px;
	}

	.banner-text p {
		padding: 20px 0;
	}
}









 /*=================== Awatar =====================*/
 .btn {
    display: inline-block;
    padding: 10px 30px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 4px;
}

.panel-group .panel+.panel {
    margin-top: 20px;
}

.btncontactnumber {
    display: inline-block;
    padding: 10px 14px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 0px solid transparent;
	border-radius: 4px;
	background: #2f5bea;
    outline: none !important;
}
.telicon{
	padding-right: 5px;
	margin-top: -6px;
}


/* main menu */


*{margin:0;padding:0;
box-sizing: border-box;
}

li{list-style: none;}

.icon-container,
.icon-small,
.icon-big {
    flex-shrink: 0;
    display: -webkit-box;
    display: flex
}

.icon-container svg,
.icon-small svg,
.icon-big svg {
    display: -webkit-box;
    display: flex
}

svg.icon-small,
.icon-small svg {
    width: 28px;
    height: 28px
}

svg.icon-big,
.icon-big svg {
    width: 64px;
    height: 64px
}


.row-container {
    width: 1120px;
    max-width: 90%;
    margin: auto;
    position: relative
}

.row-container.wide-width {
    width: 1440px
}

.row-container.medium-width {
    width: 1200px
}

.row-container.narrow {
    width: 960px
}

.row-container.thin {
    width: 560px
}

.row-container.skinny {
    width: 480px
}

.row-container.small-width {
    width: 800px
}

.row-container.fullwidth,
.row-container.fullwidth {
    width: 100%;
    max-width: 100%
}




.menu-item svg {
    position: absolute;
    content: " ";
    right: 24px;
    z-index: -1;
    top: 14px;
    -webkit-transition: 300ms all cubic-bezier(.4, 0, .2, 1);
    transition: 300ms all cubic-bezier(.4, 0, .2, 1);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.menu-item svg.menu-expand {
    opacity: 1
}

.menu-item svg.menu-collapse {
    opacity: 0;
    fill: rgba(109, 124, 144, .3)
}

.active .menu-item svg {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
}

.active .menu-item svg.menu-expand {
    opacity: 0
}

.active .menu-item svg.menu-collapse {
    opacity: 1
}

.menu-callout {
    width: 340px;
    text-align: center;
    position: absolute;
    bottom: -80px;
    right: 0;
    padding: 16px 32px;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.menu-callout:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.et-highlighted .menu-callout {
    opacity: 1;
    visibility: visible;
    bottom: -70px
}

.et-highlighted-hidden .menu-callout {
    visibility: hidden;
    opacity: 0;
    bottom: -80px
}

.menu-callout:before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #fff;
    position: absolute;
    top: -16px;
    right: 30px
}


#main-nav {
    position: absolute;
    z-index: 99999999;
	top: 0;
	left:0;
    width: 100%;
    background: #fff;
    -webkit-transition: 300ms all cubic-bezier(.4, 0, .2, 1);
    transition: 300ms all cubic-bezier(.4, 0, .2, 1)
}

#main-nav .row-container {
    width: 1440px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
	align-items: center;
	padding:0 15px;
}

#main-nav #logo {
    margin: 0;
    opacity: 1;
    -webkit-transition: 300ms all cubic-bezier(.4, 0, .2, 1);
    transition: 300ms all cubic-bezier(.4, 0, .2, 1);
}

#main-nav .hamburger {
    display: none;
    border-radius: 3px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#main-nav .hamburger span {
    display: block;
    background: #2f5bea;
    width: 24px;
    height: 3px;
    border-radius: 3px;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: 300ms all cubic-bezier(.4, 0, .2, 1);
    transition: 300ms all cubic-bezier(.4, 0, .2, 1)
}

#main-nav .hamburger span:nth-child(2) {
    margin: 4px 0
}

#main-nav .hamburger.toggled span {
    background: #2f5bea !important
}

#main-nav .hamburger.toggled span:first-child {
    -webkit-transform: translateY(6px) rotate(45deg);
    transform: translateY(6px) rotate(45deg)
}

#main-nav .hamburger.toggled span:last-child {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg)
}

#main-nav .hamburger.toggled span:nth-child(2) {
    opacity: 0
}




#main-nav .menu-bg-wrapper {
    position: absolute;
    left: 0;
    top: 105%;
    visibility: hidden;
    opacity: 0;
    will-change: opacity;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out
}

#main-nav .menu-bg-wrapper.is-visible {
    visibility: visible;
    opacity: 1;
    top: 100%
}

#main-nav .menu-bg-wrapper .menu-bg {
    width: 304px;
    height: 304px;
    background: #fff;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    will-change: transform;
    border-radius: 5px;
    z-index: 999;
    box-shadow: 0 12px 40px 0 rgba(23, 16, 159, .4), 0 70px 100px -60px rgba(23, 16, 159, .6)
}

#main-nav .menu-bg-wrapper .menu-arrow {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 30px;
    height: 30px;
    border-radius: 2000px;
    border-radius: 6px;
    background: #fff;
    -webkit-transform: rotate(45deg) translateX(-70%);
    -moz-transform: rotate(45deg) translateX(-70%);
    -o-transform: rotate(45deg) translateX(-70%);
    transform: rotate(45deg) translateX(-70%);
    top: -12px;
    left: -20px;
    z-index: 9
}

#main-nav .menu-bg-wrapper .is-animatable {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out
}

#main-nav nav>ul {
    margin: 0
}

#main-nav nav>ul a,
#main-nav nav>ul li {
    margin: 0
}

#main-nav nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center
}

#main-nav nav>ul {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

#main-nav nav>ul li {
    position: relative;
    border-right: 2px solid #fff;
	padding: 0 10px !important;
	line-height: 16px;
}
#main-nav nav a.menu-item {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
	line-height:16px;
	text-decoration: none;
}
#main-nav .menu>li:last-child,#main-nav .menu>li:nth-last-child(2){border:0;padding-right:0px !important;}

#main-nav.transparent-header,
.transparent-header #main-nav {
    background: 0 0;
}

#main-nav.transparent-header a.menu-item,
.transparent-header #main-nav a.menu-item,.menu-single-link{
	color: #fff;
	text-decoration: none !important;
	background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
	-webkit-transition: all .5s linear;
	-o-transition: all .5s linear;
	transition: all .5s linear;
	background-position: left bottom;
	
}
#main-nav.transparent-header .menu-wrapper a.menu-item{padding-right:10px;}
#main-nav.transparent-header .menu-wrapper a.menu-item:after {
    content: "\f107";
    position: absolute;
    display: inline-block;
    font: normal normal normal 9px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-weight: 200;
    top: 0;
    right: 7px;
}
#main-nav.transparent-header a.menu-item:hover,
.transparent-header #main-nav a.menu-item:hover,.menu-single-link:hover {
	color:rgba(255, 255, 255, 0.9);
	background-size: 100% .1em;
}


#main-nav.transparent-header .hamburger span,
.transparent-header #main-nav .hamburger span {
    background: #fff
}

#main-nav.transparent-header-dark {
    background: 0 0
}

#main-nav .sub-menu {
    background: 0 0;
    box-shadow: none;
    position: absolute;
    visibility: hidden;
    z-index: 9999;
    top: 25px;
    left: 50%;
    opacity: 0;
    width: 250px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    -webkit-transition-delay: 0;
    transition-delay: 0
}

#main-nav .sub-menu.sub-menu-wide {
    /* width: 464px; */
    /*width: 750px*/
}

#main-nav .sub-menu ul>li,
#main-nav .sub-menu ul>a {
    margin: 0;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out
}

#main-nav .sub-menu ul>li:hover,
#main-nav .sub-menu ul>a:hover {
    -webkit-transform: translateX(5px);
    transform: translateX(5px)
}




#main-nav .sub-menu ul.menu-items h3 {
    margin: 0 12px 0 0
}

#main-nav .sub-menu ul.menu-items a {
    padding: 6px 0
}

#main-nav .sub-menu ul.primary-menu-items h3 {
    font-size: 1em;
    margin: -.3em 0 0
}

#main-nav .sub-menu ul.primary-menu-items a {
    padding: .6em 0
}

#main-nav .sub-menu>.card-inset-container {
    margin-top: 0
}

#main-nav.et_fixed_nav {
    background: #fff;
    padding: 0;
    box-shadow: 0 4px 24px 0 rgba(103, 151, 255, .1), 0 12px 64px 0 rgba(103, 151, 255, .1)
}

#main-nav.et_fixed_nav #logo {
    max-height: 60px;
    width: 80px
}

#main-nav.et_fixed_nav a.menu-item {
    padding: 0 24px;
    color: rgba(32, 41, 47, .6);
    height: 60px;
    -webkit-transition: 300ms all cubic-bezier(.4, 0, .2, 1);
    transition: 300ms all cubic-bezier(.4, 0, .2, 1)
}

#main-nav.et_fixed_nav .sub-menu {
    top: 60px
}

#main-nav.et_fixed_nav nav>ul li:hover>a {
    color: #20292f
}


#main-nav.et_fixed_nav #pricing-button,
#main-nav.et_fixed_nav #accounts-button {
    padding-top: 8px;
    padding-bottom: 8px
}

#main-nav.et_fixed_nav .hamburger span {
    background: #2f5bea;
}

#main-nav .et-main-account-menu .et_account_login_form {
    width: 100%
}

#main-nav .et-main-account-menu>.menu-items,
#main-nav .et-main-account-menu .et_account_login_form,
#main-nav .et-main-account-menu #account-downloads-button {
    display: none;
    float: left;
    text-align: center
}

#main-nav .et-main-account-menu p {
    font-size: 15px
}

.js-ready #main-nav nav>ul li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms
}

#collegevd-sub-menu img{max-height:50px;max-width:50px;width:auto;padding-right:20px;}
#collegevd-sub-menu li{padding:0 10px;}
#collegevd-sub-menu a{
    font-family: Poppins-Medium;
font-size: 18px;
color: #2F5BEA;
letter-spacing: 0;
line-height: 60px;
text-decoration: none;
border-bottom: 1px solid #F3F3F3;
display: inline-block;
width:100%;
}
#collegevd-sub-menu li:last-child a,#collegevd-sub-menu li:nth-child(9) a,.courses-menu li:last-child a{border:none;}
#collegevd-sub-menu li{float: left;width:50%;}
.menu-wrapper .sub-menu{padding: 50px 10px 0px 30px;}
.courses-menu a{
	font-family: Poppins-Medium;
    font-size: 19px;
    color: #2F5BEA;
    width: 100%;
    padding: 10px 0;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #E6E6E6;
}


.row-head-container {
	width: 1440px;
	max-width: 90%;
	margin: 0 auto;
}



@media only screen and (min-width:1025px) {
    #main-nav .sub-menu {
        display: initial !important
    }

    svg.menu-expand {
        visibility: hidden;
        display: none;
        opacity: 0
    }

    svg.menu-collapse {
        visibility: hidden;
        display: none;
        opacity: 0
	}
	#main-nav{padding:50px 0px 0px 0px;}
}

@media only screen and (max-width:1024px) {
	.benefits-block > .container > .row{display: inherit;}
	.row-head-container,.row-container{max-width: 100%;}
	.breadcrumb{padding: 15px;}
	.menu-single-link {
        color: rgba(32, 41, 47, .6) !important;
        height: 60px !important;
        display:block;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        line-height: 16px;
        text-decoration: none;
}
	#logo img{padding-top: 25px;max-width: 90px;}
    html.mobile-menu {
        overflow: hidden;
        height: 100vh
    }

    #main-nav .et-main-account-menu>.menu-items,
    #main-nav .et-main-account-menu .et_account_login_form,
    #main-nav .et-main-account-menu #account-downloads-button {
        float: initial
    }

    #main-nav .et-main-account-menu #account-downloads-button {
        display: none !important
    }

    #main-nav,
    #main-nav.transparent-header,
    #main-nav.et_fixed_nav {
        height: 80px
    }

    #main-nav .row-container,
    #main-nav.transparent-header .row-container,
    #main-nav.et_fixed_nav .row-container {
        -webkit-box-pack: justify;
        justify-content: space-between
    }

    body.mobile-menu #main-nav,
    body.mobile-menu #main-nav.transparent-header,
    body.mobile-menu #main-nav.et_fixed_nav {
        background: #fff
    }

    #main-nav .menu-bg-wrapper,
    #main-nav.transparent-header .menu-bg-wrapper,
    #main-nav.et_fixed_nav .menu-bg-wrapper,
    #main-nav .menu-bg-wrapper.is-visible,
    #main-nav.transparent-header .menu-bg-wrapper.is-visible,
    #main-nav.et_fixed_nav .menu-bg-wrapper.is-visible {
        visibility: hidden;
        opacity: 0
    }

    #main-nav nav,
    #main-nav.transparent-header nav,
    #main-nav.et_fixed_nav nav {
        visibility: hidden;
        opacity: 0;
        display: none;
        -webkit-transition: 300ms all cubic-bezier(.4, 0, .2, 1);
        transition: 300ms all cubic-bezier(.4, 0, .2, 1)
    }

    #main-nav nav.toggled,
    #main-nav.transparent-header nav.toggled,
    #main-nav.et_fixed_nav nav.toggled {
        display: -webkit-box;
        display: flex;
        visibility: visible;
        opacity: 1
    }

    #main-nav nav .pricing-button-wrapper,
    #main-nav.transparent-header nav .pricing-button-wrapper,
    #main-nav.et_fixed_nav nav .pricing-button-wrapper {
        position: fixed;
        width: 100%;
        padding: 24px;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        background: #fff
    }



 

    #main-nav nav .menu,
    #main-nav.transparent-header nav .menu,
    #main-nav.et_fixed_nav nav .menu {
        width: 100%;
        padding: 0;
        overflow-y: auto;
        padding-bottom: 100px
    }

    #main-nav nav a.menu-item,
    #main-nav.transparent-header nav a.menu-item,
    #main-nav.et_fixed_nav nav a.menu-item {
        color: rgba(32, 41, 47, .6);
        height: 60px
    }

    #main-nav nav>ul,
    #main-nav.transparent-header nav>ul,
    #main-nav.et_fixed_nav nav>ul {
        position: fixed
    }

    #main-nav nav ul,
    #main-nav.transparent-header nav ul,
    #main-nav.et_fixed_nav nav ul {
        background: #f2f4f5;
        bottom: 0;
        left: 0;
        margin: 0;
        top: 80px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-transition: 300ms all cubic-bezier(.4, 0, .2, 1);
        transition: 300ms all cubic-bezier(.4, 0, .2, 1)
    }



    #main-nav nav ul li,
    #main-nav.transparent-header nav ul li,
    #main-nav.et_fixed_nav nav ul li {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        cursor: pointer
    }

    #main-nav nav ul li .sub-menu,
    #main-nav.transparent-header nav ul li .sub-menu,
    #main-nav.et_fixed_nav nav ul li .sub-menu,
    #main-nav nav ul li .sub-menu-wide,
    #main-nav.transparent-header nav ul li .sub-menu-wide,
    #main-nav.et_fixed_nav nav ul li .sub-menu-wide,
    #main-nav nav ul li #collegevd-sub-menu.sub-menu,
    #main-nav.transparent-header nav ul li #collegevd-sub-menu.sub-menu,
    #main-nav.et_fixed_nav nav ul li #collegevd-sub-menu.sub-menu {
        display: none;
        visibility: visible;
        opacity: 1;
        position: initial;
        width: 100% !important;
        left: initial;
        z-index: initial;
        -webkit-transform: initial;
        transform: initial;
        padding-top: 0;
        padding-bottom: 0;
        top: initial;
        -webkit-transition-delay: 0ms !important;
        transition-delay: 0ms !important;
        -webkit-transition: none;
        transition: none;
        background: #fff;
        border-radius: 0;
        padding: 16px
    }
.menu-wrapper .sub-menu>ul{
	background:#fff !important;
}
 
#collegevd-sub-menu{float: left;}
.btncontactnumber{margin-top:20px;}
#main-nav .menu>li{border-right: 0px;}



    #main-nav .hamburger,
    #main-nav.transparent-header .hamburger,
    #main-nav.et_fixed_nav .hamburger {
        display: block;
        padding: 22px 0
    }

    #main-nav.et_fixed_nav {
        height: 60px
    }

    #main-nav.et_fixed_nav nav ul {
        top: 60px
    }

}
.cta {
	/* width:20%; */
	padding: 5px;
}
@media screen and (min-width:500px)
{
	.ctaRow {
		display: -webkit-box !important;
		display: flex !important;
	}

	
}


@media screen and (max-height:768px) and (min-width:1024px) {
    #main-nav #collegevd-sub-menu.sub-menu {
        width: 800px;
        display: -webkit-box !important;
        display: flex !important;
		flex-wrap: wrap;
	}
	
/* 
   @media only screen and (-webkit-min-device-pixel-ratio: 2),
   only screen and (min--moz-device-pixel-ratio: 2),
   only screen and (-moz-min-device-pixel-ratio: 2),
   only screen and (-o-min-device-pixel-ratio: 2/1),
   only screen and (min-device-pixel-ratio: 2),
   only screen and (min-resolution: 192dpi),
   only screen and (min-resolution: 2dppx) {
   	 styles for Retina-type displays 
   } */

}
.canvasjs-chart-toolbar{
	display: none;
}
.canvasjs-chart-credit{
	display: none;
}
.legend li {
	cursor: pointer;
	padding:8px;
	display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: square;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: inside;
	
}
.chartlegend{
	position: absolute;
    top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
	font-family: IBMPlexSerif !important;
}
.legend{
	white-space: nowrap;
    /* display: -webkit-inline-box; */
}
.legend li{
	float: left;
	
}
.chartCard{
	background: #f7f9f9;box-shadow: 0px 0px 5px #888888;border-radius: 5px;
}
body.mobile-menu #main-nav {position:fixed;}
.header--isSticky {
    position: absolute;
    z-index: 100;
}
